.resizable-grid-box {
  background-color: var(--jp-layout-color0);
}

.resizable-grid-box > .full-screen-button {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 0px;
	right: 0px;
	cursor: pointer;
	color: gray;
}

.resizable-grid-box:fullscreen {
  resize: none !important;
}

.resizable-grid-box:fullscreen > .full-screen-button {
  display: none !important;
}
